<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.filemanager.picture" >

    <application>
        <!--资源库-->
        <activity
            android:name="com.filemanager.picture.activity.ResourceLibraryActivity"
            android:launchMode="singleInstance"
            android:theme="@style/BrowserWindowStyle" />
    </application>
</manifest>
